
body {
    background-image: url('../img/index.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    width: 100%;
}

/* No 1 Text*/
.no1{
    padding-top: 70px;
    font-size: 2rem;
    font-weight: bolder;
    color: whitesmoke;

}

/* index-search */
.index-search{
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background-size: auto;
}
/* Seat Layout */
.seatLayout{
    background-color: blue;
    border-radius: 10px;
}

/* Brand */
.brand{
    
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.nav-item a:hover{
    font-weight: bolder !important;
    border: solid black 1px !important;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: white !important;    
}
.nav-item a{
    border-radius: 10px;
}
.brand {
    
    color: rgba(255, 255, 255, 0.3);    
}